html,body{
    margin: 0;
    padding: 0;
    background-color:cadetblue;
    width: 100%;
}
#cim{

    width: 100px;
    height: 80px;
}

.menu{
    text-decoration: underline;
}

.mozgokepek{
    width: 200px;
    height: 500px;
    border: 5px white solid;
    margin: 0 auto;
}

#szelesseg{
    width: 1200px;
    margin:0 auto;
    margin-bottom: 20px;
}
.adatok{
    font-style: italic;
    font-weight: bold;

}

#szin{
    background-color: white;
    color: black;
    font-weight: bold;
    
}

#navjobb{
    float: right;
    
}

.form-text{
    color: white;
    font-style: italic;
    font-size: 1.0em;
}




#headerszo{
    float: left;
    text-align: left;
    color: chartreuse;
    padding: 5px;
    margin-top: 12px;
}
#logo{
    width: 60px;
    height: 50px;
    
}



h1{
    text-align: center;
    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    background-color:cadetblue;
    color:white;
    text-decoration: underline;
    margin-top: 10px;
    
}